<table class="table table-striped">
	<thead>
		<tr>
      <th scope="col" *ngFor="let item of result |keyvalue">{{item.key}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td scope="col" *ngFor="let item of result |keyvalue">{{ item.value }} </td>
      </tr>
      <tr>
        <td scope="col" *ngFor="let item of result1 |keyvalue">{{ item.value }}</td>
        </tr>
        <tr>
          <td scope="col" *ngFor="let item of result2 |keyvalue">{{ item.value }}</td>
          </tr>
          <tr>
            <td scope="col" *ngFor="let item of result3 |keyvalue">{{ item.value }}</td>
            </tr>
            <tr>
              <td scope="col" *ngFor="let item of result4 |keyvalue">{{ item.value }}</td>
              </tr>
	</tbody>
</table>
<router-outlet></router-outlet>
